@font-face {
  font-family: 'Serpentine Medium';
  src: url(../fonts/serpentine_ff/Serpentine-Medium.otf);
}

@font-face {
  font-family: 'IBM Plex Sans Light';
  src: url(../fonts/ibm_plex_sans_ff/IBMPlexSans-Light.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans Medium';
  src: url(../fonts/ibm_plex_sans_ff/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: 'Nunito Sans Light';
  src: url(../fonts/nunito_sans_ff/Nunito-Sans-Light.ttf);
}

@font-face {
  font-family: 'Nunito Sans Medium';
  src: url(../fonts/nunito_sans_ff/Nunito-Sans-Medium.ttf);
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: url(../fonts/nunito_sans_ff/Nunito-Sans-Bold.ttf);
}
