html,
body {
  min-width: 350px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

h1,
h2,
h3,
h4 {
  color: hsl(0, 0%, 20%);
}

p {
  line-height: 1.5;
  color: hsl(0, 0%, 20%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 20%);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-indent: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Serpentine Medium";
  src: url(../fonts/serpentine_ff/Serpentine-Medium.otf);
}
.book-button {
  position: relative;
  padding-top: 2.5rem;
}
.book-button > span {
  padding: 0.5rem 1rem;
  color: #f9f9f9;
  background-color: rgb(229, 11, 14);
  border-radius: 3px;
  font-size: 20px;
  font-weight: 900;
}
.book-button > span:hover {
  cursor: pointer;
  background-color: rgb(203, 11, 15);
}

.footer-content {
  background-color: hsl(0, 0%, 20%);
}
.footer-content .company-info > h2 {
  padding-bottom: 0.5rem;
  font-family: "Serpentine Medium", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 28px;
}
.footer-content h2,
.footer-content h3,
.footer-content p,
.footer-content a,
.footer-content .copyright {
  color: #f9f9f9;
}
.footer-content .content-blocks {
  padding: 56px 15px;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-content .content-block {
  padding-top: 1.5rem;
}
.footer-content .content-block h3 {
  display: inline-block;
  padding: 0 0.25rem 0.5rem 0.25rem;
  border-bottom: 1px solid rgb(229, 11, 14);
}
.footer-content .content-block ul {
  padding-top: 1rem;
  padding-left: 0.25rem;
}
.footer-content .content-block ul.social {
  display: flex;
  gap: 1rem;
}
.footer-content .content-block ul.social > li {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.footer-content .content-block ul.social .icon-container {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 30px;
}
.footer-content .content-block ul.social .icon-container > img {
  width: 100%;
}
.footer-content .copyright {
  text-align: center;
  padding: 56px 0 1rem 0;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 100px 0;
  background-image: url("../images/woman-sitting-in-car-01.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1100px) {
  .hero-content {
    padding: 225px 0;
    background-image: url("../images/woman-sitting-in-car-02.jpg");
    background-position: center center;
  }
}
.hero-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 20%);
  opacity: 0.3;
}
.hero-content h1,
.hero-content .characters {
  position: relative;
}
.hero-content h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  color: #f9f9f9;
}
.hero-content h1 > span {
  display: inline-block;
  text-align: center;
}
.hero-content h1 > span:nth-of-type(1) {
  font-family: "Serpentine Medium", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 30px;
}
.hero-content h1 > span:nth-of-type(2) {
  position: relative;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 16px;
  color: #f9f9f9;
  background-color: rgba(90, 90, 90, 0.8);
}
@media screen and (min-width: 1100px) {
  .hero-content h1 > span:nth-of-type(1) {
    font-size: 60px;
  }
  .hero-content h1 > span:nth-of-type(2) {
    padding: 0.75rem 1.5rem;
    font-size: 25px;
  }
}
.hero-content .characters {
  padding-top: 0.75rem;
  width: 200px;
  display: flex;
  justify-content: center;
}
.hero-content .characters span {
  display: inline-block;
  line-height: 0;
  font-size: 0;
}
.hero-content .characters span img {
  max-width: 100%;
}
@media screen and (min-width: 1100px) {
  .hero-content .characters {
    width: 400px;
    padding-top: 1rem;
  }
}

.services-content {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.services-content h2 {
  font-size: 24px;
  padding-bottom: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .services-content h2 {
    font-size: 30px;
    padding-bottom: 2.5rem;
  }
}
.services-content h2 {
  color: #f9f9f9;
}
.services-content > .main-content {
  padding-top: 1rem;
}

.services-collection {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(185px, 100%));
}
@media screen and (min-width: 1000px) {
  .services-collection {
    gap: 2.5rem;
  }
}
.services-collection .card {
  position: relative;
  padding: 2rem 0;
  background-color: #f9f9f9;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .services-collection .card {
    padding: 3rem 1rem;
  }
}
.services-collection .card > div {
  position: relative;
}
.services-collection .card > div > .card-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 950px) {
  .services-collection .card > div > .card-main-content {
    gap: 1.5rem;
  }
}
.services-collection .card > div > .card-main-content > .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 20%);
}
.services-collection .card > div > .card-main-content > .icon-container > span {
  display: inline-block;
  width: 27px;
  font-size: 0;
  line-height: 0;
}
.services-collection .card > div > .card-main-content > .icon-container > span > img {
  width: 100%;
}
.services-collection .card > div > .card-main-content h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}
@media screen and (min-width: 1000px) {
  .services-collection .card > div > .card-main-content h3 {
    font-size: 20px;
  }
}
.services-collection .card > div > .card-main-content h3 > span {
  display: inline-block;
  text-align: center;
}
.services-collection .more-link-container {
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 5px;
}
.services-collection .more-link-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.services-collection .more-link-container h3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.services-collection .more-link-container h3 > span {
  display: inline-block;
  font-size: 15px;
}
@media screen and (min-width: 1000px) {
  .services-collection .more-link-container h3 > span {
    font-size: 20px;
  }
}
.services-collection .more-link-container:hover::before {
  background-color: rgb(229, 11, 14);
  opacity: 1;
  visibility: visible;
}
.services-collection .more-link-container:hover h3 > span {
  color: #f9f9f9;
}

.why-content {
  max-width: 1400px;
  margin: 0 auto;
}
.why-content h2 {
  font-size: 24px;
  padding-bottom: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .why-content h2 {
    font-size: 30px;
    padding-bottom: 2.5rem;
  }
}
.why-content > .main-content {
  padding-top: 1rem;
}

.why-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 8rem;
}
@media screen and (min-width: 950px) {
  .why-collection {
    max-width: none;
    margin: 0;
    padding: 0 1rem 14rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .why-collection {
    gap: 0 4rem;
  }
}
.why-collection .card {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
}
@media screen and (min-width: 950px) {
  .why-collection .card {
    max-width: none;
  }
}
.why-collection .card > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-collection .card > div > .image-container {
  display: inline-block;
  max-width: 700px;
  line-height: 0;
  font-size: 0;
  border-radius: 5px;
}
.why-collection .card > div > .image-container img {
  width: 100%;
  border-radius: inherit;
}
@media screen and (min-width: 950px) {
  .why-collection .card > div > .image-container {
    box-shadow: 1px 12px 21px 2px rgba(51, 51, 51, 0.75);
    -webkit-box-shadow: 1px 12px 21px 2px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 1px 12px 21px 2px rgba(51, 51, 51, 0.75);
  }
}
.why-collection .card > div > .card-main-content {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: -80px auto 0 auto;
  padding: 1.75rem 1.25rem;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  z-index: 1;
  border-radius: 3px;
}
@media screen and (min-width: 950px) {
  .why-collection .card > div > .card-main-content {
    width: 90%;
    min-height: 294px;
    margin-top: -50px;
  }
}
@media screen and (min-width: 1000px) {
  .why-collection .card > div > .card-main-content {
    padding: 2rem 1.5rem;
  }
}
.why-collection .card > div > .card-main-content .icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 20%);
}
@media screen and (min-width: 1000px) {
  .why-collection .card > div > .card-main-content .icon-container {
    width: 70px;
    height: 70px;
  }
}
.why-collection .card > div > .card-main-content .icon-container > span {
  display: inline-block;
  width: 25px;
  line-height: 0;
  font-size: 0;
}
@media screen and (min-width: 1000px) {
  .why-collection .card > div > .card-main-content .icon-container > span {
    width: 35px;
    height: 35px;
  }
}
.why-collection .card > div > .card-main-content .icon-container > span > img {
  max-width: 100%;
}
.why-collection .card > div > .card-main-content h3 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 18px;
}
.why-collection .card > div > .card-main-content .text-container {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 950px) {
  .why-collection .card > div > .card-main-content .text-container {
    font-size: 15px;
  }
}

nav {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: rgb(229, 11, 14);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav > div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}
nav > div .hamburger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  z-index: 1;
}
nav > div .hamburger.is-open > span {
  transform: rotate(135deg);
}
nav > div .hamburger.is-open > span::before, nav > div .hamburger.is-open > span::after {
  top: 0;
  transform: rotate(90deg);
}
nav > div .hamburger:hover {
  cursor: pointer;
}
nav > div .hamburger > span {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #f9f9f9;
  z-index: 1;
  transition: all 0.3s ease;
}
nav > div .hamburger > span::before, nav > div .hamburger > span::after {
  content: "";
  position: absolute;
  top: -7px;
  width: 100%;
  height: 1px;
  background: inherit;
  z-index: 1;
}
nav > div .hamburger > span::after {
  top: 7px;
}
nav > div .overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(53, 66, 91, 0);
  transition: all 0.3s ease;
}
nav > div .overlay.is-open {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 66, 91, 0.6);
}
nav > div .logo-container {
  color: #f9f9f9;
  display: block;
  line-height: 56px;
  font-size: 18px;
  font-family: "Serpentine Medium", Arial, Helvetica, sans-serif;
  font-style: italic;
}
nav > div .nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70vw;
  padding: 100px 0;
  color: #f9f9f9;
  background-color: rgb(229, 11, 14);
  opacity: 0;
  transform: translate(-100%);
  transition: all 0.3s ease;
}
nav > div .nav-menu.is-open {
  opacity: 1;
  transform: translate(0);
}
nav > div .nav-menu ul li span {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0.75rem 0;
  color: #f9f9f9;
  background-color: rgb(229, 11, 14);
  transition: all 0.3s ease;
}
nav > div .nav-menu ul li span:hover {
  background-color: rgb(203, 11, 15);
}
@media screen and (min-width: 800px) {
  nav > div {
    justify-content: space-between;
  }
  nav > div .hamburger,
  nav > div .overlay {
    display: none;
  }
  nav > div .nav-menu {
    position: relative;
    height: inherit;
    width: auto;
    padding: 0;
    opacity: 1;
    transform: translate(0);
  }
  nav > div .nav-menu ul {
    display: flex;
    height: inherit;
  }
  nav > div .nav-menu ul li span {
    padding: 0 1rem;
    line-height: 56px;
  }
}

.page-template .page-heading-content {
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}
.page-template .page-heading-content > h2 {
  color: #f9f9f9;
  display: inline-block;
  font-size: 24px;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 750px) {
  .page-template .page-heading-content > h2 {
    font-size: 30px;
  }
}
.page-template .page-heading-content > .description {
  max-width: 550px;
  text-align: center;
}
@media screen and (min-width: 950px) {
  .page-template .page-heading-content > .description {
    max-width: 700px;
  }
}
.page-template .page-heading-content > .description p {
  color: #f9f9f9;
}
@media screen and (min-width: 750px) {
  .page-template .page-heading-content > .description p {
    font-size: 18px;
  }
}
@media screen and (min-width: 950px) {
  .page-template .page-heading-content > .description p {
    font-size: 20px;
  }
}
.page-template .main-content {
  padding: 56px 15px;
  max-width: 1000px;
  margin: 0 auto;
}
.page-template .main-content .paragraph-group p:not(:nth-of-type(1)) {
  padding-top: 1rem;
}

.about-hero {
  position: relative;
  height: 30vh;
  min-height: 250px;
  max-height: 400px;
  margin-top: 56px;
  background-color: rgb(237, 238, 238);
  background-image: url("../images/peaceful-straight-road-03.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
@media screen and (min-width: 1000px) {
  .about-hero {
    height: 40vh;
    min-height: 300px;
    max-height: 500px;
  }
}
.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
}

section#about, section#why, section#services {
  padding: 56px 15px;
}
section#hero {
  padding-top: 56px;
}
section#about {
  background-color: #f9f9f9;
}
section#why {
  background-color: #f9f9f9;
}
section#services {
  position: relative;
  background-color: rgb(237, 238, 238);
  background-image: url("../images/highway-aerial-view.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
section#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}

.services-hero {
  position: relative;
  height: 30vh;
  min-height: 250px;
  max-height: 400px;
  margin-top: 56px;
  background-color: rgb(237, 238, 238);
  background-image: url("../images/highway-aerial-view.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 1000px) {
  .services-hero {
    height: 40vh;
    min-height: 300px;
    max-height: 500px;
  }
}
.services-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
}

.services-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 950px) {
  .services-cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    max-width: none;
    padding: 1rem;
  }
}
.services-cards .card {
  position: relative;
  padding: 2rem 0;
  background-color: #f9f9f9;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .services-cards .card {
    padding: 3rem 1rem;
  }
}
.services-cards .card > div {
  position: relative;
}
.services-cards .card > div > .card-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 950px) {
  .services-cards .card > div > .card-main-content {
    gap: 1.5rem;
  }
}
.services-cards .card > div > .card-main-content > .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 20%);
}
.services-cards .card > div > .card-main-content > .icon-container > span {
  display: inline-block;
  width: 27px;
  font-size: 0;
  line-height: 0;
}
.services-cards .card > div > .card-main-content > .icon-container > span > img {
  width: 100%;
}
.services-cards .card > div > .card-main-content h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}
@media screen and (min-width: 1000px) {
  .services-cards .card > div > .card-main-content h3 {
    font-size: 20px;
  }
}
.services-cards .card > div > .card-main-content h3 > span {
  display: inline-block;
  text-align: center;
}
.services-cards .card {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}/*# sourceMappingURL=main.css.map */