@mixin parentElement {
  padding: calc($headerHeight + 20px) 15px;
}

@mixin sectionContentHeading {
  h2 {
    font-size: 24px;
    padding-bottom: 1.25rem;
    text-align: center;

    @media screen and (min-width: 750px) {
      font-size: 30px;
      padding-bottom: 2.5rem;
    }
  }
}

@mixin sectionContentParagraph {
  .main-content {
    p {
      &:not(:nth-of-type(1)) {
        padding-top: 1rem;
      }
    }
  }
}

@mixin cardWithIcon {
  .card {
    position: relative;
    padding: 2rem 0;
    background-color: $white;
    border-radius: 5px;

    @media screen and (min-width: 1000px) {
      padding: 3rem 1rem;
    }

    & > div {
      position: relative;

      & > .card-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @media screen and (min-width: 950px) {
          gap: 1.5rem;
        }
        & > .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $mainBlack;

          @media screen and (min-width: 1000px) {
            width: 70px;
            height: 70px;
          }

          & > span {
            display: inline-block;
            width: 25px;
            font-size: 0;
            line-height: 0;

            @media screen and (min-width: 1000px) {
              width: 35px;
              height: 35px;
            }

            & > img {
              width: 100%;
            }
          }
        }

        h3 {
          font-size: 16px;
          text-align: center;

          @media screen and (min-width: 1000px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
