@mixin parentElement {
  padding: $headerHeight 1rem;

  @media screen and (min-width: 950px) {
    padding: 100px 1rem;
  }
}

@mixin companyNameSmall {
  font-family: 'Serpentine Medium', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
}

@mixin sectionContentHeading {
  h2 {
    font-size: 24px;
    padding-bottom: 1.25rem;
    text-align: center;

    @media screen and (min-width: 750px) {
      font-size: 30px;
      padding-bottom: 2.5rem;
    }
  }
}

@mixin paragraphGroup {
  .paragraph-group {
    p {
      &:not(:nth-of-type(1)) {
        padding-top: 1rem;
      }
    }
  }
}

@mixin generalButton {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 2.5rem;

  & > span {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $white;
    background-color: $midRed;
    border: 3px solid;
    border-color: $midRed;
    border-radius: 3px;
    font-family: 'Nunito Sans Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

    @media screen and (min-width: 950px) {
      padding: 1rem 2rem;
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
      color: $midRed;
      background-color: $white;
      border-color: $midRed;
    }
  }
}

@mixin cardWithIcon {
  .card {
    position: relative;
    padding: 2rem 0;
    background-color: $white;
    border-radius: 5px;

    @media screen and (min-width: 1000px) {
      padding: 3rem 1rem;
    }

    & > div {
      position: relative;

      & > .card-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @media screen and (min-width: 950px) {
          gap: 1.5rem;
        }
        & > .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $mainBlack;

          & > span {
            display: inline-block;
            width: 27px;
            font-size: 0;
            line-height: 0;

            & > img {
              width: 100%;
            }
          }
        }

        h3 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 15px;

          @media screen and (min-width: 1000px) {
            font-size: 20px;
          }

          & > span {
            display: inline-block;
            text-align: center;
          }
        }
      }
    }
  }
}
