@mixin sectionContentHeading {
  h2 {
    font-size: 24px;
    padding-bottom: 1.25rem;
  }
}

@mixin sectionContentParagraph {
  .main-content {
    p {
      &:not(:nth-of-type(1)) {
        padding-top: 1rem;
      }
    }
  }
}
