// Colors
$white: #f9f9f9;
$mainBlack: hsl(0, 0%, 20%);
$lightGray: rgba(237, 238, 238, 1);
$lightRed: rgba(247, 85, 87, 1);
$midRed: rgba(229, 11, 14, 1);
$darkRed: rgba(203, 11, 15, 1);

// - Spacing (widths, heights, offsets, etc)
$navContentMaxWidth: 1200px;
$sectionContentMaxWidth: 800px;
$headerHeight: 56px;
