section {
  &:not(#hero) {
    padding: calc($headerHeight + 20px) 15px;
  }

  &#about {
    background-color: $white;
  }

  &#why {
    background-color: $white;
  }

  &#services {
    background-color: $lightGray;
  }
}
