section {
  &#about,
  &#why,
  &#services {
    @include parentElement;
  }

  &#hero {
    padding-top: $headerHeight;
  }

  &#about {
    background-color: $white;
  }

  &#why {
    background-color: #f9f9f9;
  }

  &#services {
    position: relative;
    background-color: $lightGray;
    background-image: url('../images/highway-aerial-view.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    // - Background image overlay (dark tint)
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(51, 51, 51, 0.5);
    }
  }
}
