.accordion {
  // - Accordion header container
  & > .header-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: $darkGray;
    height: 75px;

    @media screen and (min-width: 950px) {
      height: 97px;
      padding: 1.5rem;
    }

    &:hover {
      cursor: pointer;
    }

    // - Image icon container (if available)
    & > .icon-container {
      display: inline-block;
      width: 30px;
      min-width: 30px;
      line-height: 0;
      font-size: 0;
      & > img {
        width: 100%;
      }
    }

    // - Heading
    & > h3 {
      font-family: 'Nunito Sans Bold', Arial, Helvetica, sans-serif;
      color: $white;
      font-size: 16px;

      @media screen and (min-width: 950px) {
        font-size: 18px;
      }
    }

    // - Arrow container
    & > .arrow-container {
      display: flex;
      flex-direction: column;
      padding: 0 0.5rem;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-width: 2px 2px 0 0;
        border-color: $white;
        border-style: solid;
        transform: rotate(135deg);

        &.isOpen {
          transform: rotate(-45deg);
        }

        @media screen and (min-width: 700px) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  // - Accordion main content container
  .content-container {
    display: none;
    padding: 1rem;
    background-color: $white;
    border: 1px solid $darkGray;

    &.isOpen {
      display: block;
    }

    @media screen and (min-width: 950px) {
      padding: 1.5rem;
      font-size: 18px;
    }
  }
}
