.book-button {
  @include generalButton;

  &.special {
    padding-top: 0;

    & > a > span {
      padding: 0.75rem 1.5rem;
      border-radius: 40px;
      border: none;
      background-color: black;

      &:hover {
        color: $midRed;
        background-color: $white;
        border-color: $midRed;
      }
    }
  }
}
