.button {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 2.5rem;

  & > span {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $white;
    background-color: $midRed;
    border: 2px solid;
    border-color: $midRed;
    border-radius: 3px;
    font-family: 'Nunito Sans Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

    @media screen and (min-width: 950px) {
      padding: 1rem 2rem;
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
      color: $midRed;
      background-color: $white;
      border-color: $midRed;
    }
  }
}
