.carousel-wrapper {
  position: relative;
  max-width: 850px;
  margin: 0 auto;

  .carousel {
    position: relative;
    overflow: hidden;

    .carousel-items {
      display: flex;
      transition: transform 0.5s ease;

      // - Single carousel item
      & > article,
      & > div {
        min-width: 100%;
        margin: 0 auto;
      }
    }
  }

  .control {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;

    &.disabled {
      visibility: hidden;
    }

    // - Arrow container
    & > div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;

      &:hover {
        cursor: pointer;
      }

      // - Arrow
      span {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: $midRed;
      }
    }

    &.previous {
      left: 0;

      @media screen and (min-width: 900px) {
        left: -10px;
      }
      // - Previous arrow container
      & > div {
        & > span {
          transform: translateX(6px) rotate(-135deg);
        }
      }
    }

    &.next {
      right: 0;

      @media screen and (min-width: 900px) {
        right: -10px;
      }
      // - Next arrow container
      & > div {
        & > span {
          transform: translateX(-5px) rotate(45deg);
        }
      }
    }
  }

  // - Carousel indicators (the dots)
  .indicators {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      span {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: $lightRed;
        border-style: solid;
        border-color: transparent;
        border-width: 2px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }

        &.current-image {
          width: 12px;
          height: 12px;
          background-color: white;
          border-color: $darkRed;
        }
      }
    }
  }
}
