.reviews-content {
  @include sectionContentHeading;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  // - Individual review card
  .card {
    padding: 2rem;

    .header {
      .student-details {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;

        .image-container {
          display: inline-block;
          font-size: 0;
          line-height: 0;
        }

        .text-container {
          h3 {
            padding-bottom: 0.25rem;
          }
          .rating {
            color: $midBlack;
          }
        }
      }
    }
  }
}
