// - Styles for Services section on Home Page
.services-content {
  @include sectionContentHeading;
  @include sectionContentParagraph;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  h2 {
    color: $white;
  }

  & > .main-content {
    padding-top: 1rem;
  }
}

.services-collection {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(185px, 100%));

  @media screen and (min-width: 1000px) {
    gap: 2.5rem;
  }

  // - Styles for immediate children (the cards)
  @include cardWithIcon;

  // - Link to services page
  .more-link-container {
    position: relative;
    background-color: $white;
    overflow: hidden;
    border-radius: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }

    h3 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      & > span {
        display: inline-block;
        font-size: 15px;

        @media screen and (min-width: 1000px) {
          font-size: 20px;
        }
      }
    }

    // - On .more-link-container hover
    &:hover {
      &::before {
        background-color: $midRed;
        opacity: 1;
        visibility: visible;
      }

      h3 > span {
        color: $white;
      }
    }
  }
}
