.why-content {
  @include sectionContentHeading;
  @include sectionContentParagraph;
  max-width: 1000px;
  margin: 0 auto;

  & > .main-content {
    padding-top: 1rem;
  }
}

.why-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7rem 1rem;
  padding-bottom: 8rem;

  @media screen and (min-width: 950px) {
    gap: 0;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0;
    box-shadow: -1px 10px 18px 1px rgba(51, 51, 51, 0.64);
    -webkit-box-shadow: -1px 10px 18px 1px rgba(51, 51, 51, 0.64);
    -moz-box-shadow: -1px 10px 18px 1px rgba(51, 51, 51, 0.64);
  }

  @media screen and (min-width: 1000px) {
    // max-width: 875px;
    max-width: 900px;
  }

  .card {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;

    @media screen and (min-width: 950px) {
      max-width: none;
    }

    // - .card Inner container
    & > div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 950px) {
        flex-direction: row;
        align-items: normal;
      }

      & > .image-container {
        display: inline-block;
        max-width: 700px;
        line-height: 0;
        font-size: 0;
        border-radius: 5px;

        @media screen and (min-width: 950px) {
          min-width: 50%;
          border-radius: 0;
        }

        img {
          width: 100%;
          border-radius: inherit;
        }
      }

      & > .card-main-content {
        position: absolute;
        top: 100%;
        width: 90%;
        margin: -80px auto 0 auto;
        padding: 1.25rem;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
          rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
          rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
        z-index: 1;

        @media screen and (min-width: 950px) {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: auto;
          margin: 0;
          box-shadow: none;
        }

        @media screen and (min-width: 1000px) {
          padding: 0 3rem;
        }

        // ***********************
        // Optional icon display
        // ***********************
        // - Card icon (only displayed when vw 950px or higher.
        .icon-container {
          display: none;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin-bottom: 1.5rem;
          border-radius: 50%;
          background-color: $mainBlack;

          // - Optional icon display
          @media screen and (min-width: 950px) {
            // display: flex;
          }

          @media screen and (min-width: 1000px) {
            width: 70px;
            height: 70px;
          }

          & > span {
            display: inline-block;
            width: 25px;
            line-height: 0;
            font-size: 0;

            @media screen and (min-width: 1000px) {
              width: 35px;
              height: 35px;
            }

            & > img {
              max-width: 100%;
            }
          }
        }

        h3,
        .text-container {
          text-align: center;
        }

        h3 {
          padding-bottom: 1rem;
        }

        .text-container {
          font-size: 14px;

          @media screen and (min-width: 950px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
