.why-content {
  @include sectionContentHeading;
  @include sectionContentParagraph;
  max-width: 1400px;
  margin: 0 auto;

  & > .main-content {
    padding-top: 1rem;
  }
}

.why-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7rem 1rem;
  padding-bottom: 8rem;

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 2rem;
  }

  @media screen and (min-width: 1000px) {
    padding-bottom: 9rem;
  }

  @media screen and (min-width: 1200px) {
    gap: 0 4rem;
  }

  .card {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;

    @media screen and (min-width: 1000px) {
      max-width: none;
    }

    // - .card Inner container
    & > div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .image-container {
        display: inline-block;
        max-width: 700px;
        line-height: 0;
        font-size: 0;
        border-radius: 5px;

        img {
          width: 100%;
          border-radius: inherit;
        }

        @media screen and (min-width: 750px) {
          box-shadow: 1px 12px 21px 2px rgba(51, 51, 51, 0.75);
          -webkit-box-shadow: 1px 12px 21px 2px rgba(51, 51, 51, 0.75);
          -moz-box-shadow: 1px 12px 21px 2px rgba(51, 51, 51, 0.75);
        }
      }

      & > .card-main-content {
        position: absolute;
        top: 100%;
        width: 90%;
        margin: -80px auto 0 auto;
        padding: 1.75rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
          rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
          rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
        z-index: 1;

        @media screen and (min-width: 1000px) {
          padding: 2rem 1.5rem;
        }

        // - Card text background color ("faded")
        &::before {
          content: '';
          background-color: $white;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }

        // - Card icon (only displayed when vw 750px or higher.
        .icon-container {
          display: none;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin-bottom: 1.5rem;
          border-radius: 50%;
          background-color: $mainBlack;

          & > span {
            display: inline-block;
            width: 25px;
            line-height: 0;
            font-size: 0;

            & > img {
              max-width: 100%;
            }
          }
        }

        h3 {
          padding-bottom: 1rem;
          text-align: center;
        }

        .text-container {
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}
