// TODO: Add styles for transforming hamburger lines depending on menu opened state.
// TODO: Add media queries to toggle between mobile and desktop versions of Navbar and contents.

nav {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: $midRed;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  // - Immediate child div of nav
  & > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;

    // - Hamburger menu toggler
    .hamburger {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      z-index: 1;

      // - Lines displayed when mobile menu is open.
      &.is-open {
        & > span {
          transform: rotate(135deg);
          &::before,
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }

      &:hover {
        cursor: pointer;
      }

      // - hamburger lines
      & > span {
        width: 100%;
        height: 1px;
        position: relative;
        background-color: $white;
        z-index: 1;
        transition: all 0.3s ease;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -7px;
          width: 100%;
          height: 1px;
          background: inherit;
          z-index: 1;
        }

        &::after {
          top: 7px;
        }
      }
    }

    // - Overlay styles
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      background-color: rgba(53, 66, 91, 0);
      transition: all 0.3s ease;

      &.is-open {
        visibility: visible;
        opacity: 1;
        background-color: rgba(53, 66, 91, 0.6);
      }
    }

    // - "Return Home" link container
    .logo-container {
      color: $white;
      display: block;
      line-height: 56px;
      font-size: 18px;
      font-family: 'Serpentine Medium', Arial, Helvetica, sans-serif;
      font-style: italic;
    }

    // - Navigation Menu styles
    .nav-menu {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 70vw;
      padding: 100px 0;
      color: $white;
      background-color: $midRed;
      opacity: 0;
      transform: translate(-100%);
      transition: all 0.3s ease;

      &.is-open {
        opacity: 1;
        transform: translate(0);
      }

      ul {
        li {
          span {
            width: 100%;
            display: inline-block;
            text-align: center;
            padding: 0.75rem 0;
            color: $white;
            background-color: $midRed;
            transition: all 0.3s ease;

            &:hover {
              background-color: $darkRed;
            }
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      justify-content: space-between;

      .hamburger,
      .overlay {
        display: none;
      }

      .nav-menu {
        position: relative;
        height: inherit;
        width: auto;
        padding: 0;
        opacity: 1;
        transform: translate(0);

        ul {
          display: flex;
          height: inherit;

          li {
            span {
              padding: 0 1rem;
              line-height: 56px;
            }
          }
        }
      }
    }
  }
}
